<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Coronavirus App</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div class="card-header"
		style="position: fixed; width: 100%; background: #669999;">Corona
		Virus Tracking App</div>
	<div class="container">

		<div id="table" class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4" th:text="${totalReported}"></h1>
				<p class="lead">These many cases have been reported as of today.</p>
				<hr>
				<h4 class="display-4" th:text="${totalNewlyReported}"></h4>
				<p class="lead">These many new cases have been reported till
					today.</p>
			</div>
		</div>
		<div class="md-form active-cyan-2 mb-3">
			<form id="search">
				<div class="form-group">
					<input class="form-control" type="text" id="myInput"
						onkeyup="myFunction()" placeholder="Search by City/Country.."
						title="Type in a name">
					 <button class="btn btn-primary" style="margin-top: 6px;" onclick="clear()">Reset</button> 
				</div>
			</form>
		</div>
		<table id="myTable" class="table table-striped">
			<thead>
				<tr>
					<th>Country</th>
					<th>State</th>
					<th>Currently Reported</th>
					<th>Reported today</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="location : ${locations}">
					<td th:text="${location.country}"></td>
					<td th:text="${location.state}"></td>
					<td th:text="${location.todaysReported}">0</td>
					<td th:text="${location.differenceFromLastDay}">0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		function clear() {
			$('search').get(0).reset();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				tr[i].style.display = "";
			}
		}
		function myFunction() {
			var input = "", filter = "", table, tr, td, i, txtValue = "";
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				td2 = tr[i].getElementsByTagName("td")[1];
				if (td || td2) {
					txtValue = td.textContent || td.innerText;
					txtVal2 = td2.textContent || td2.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1
							|| txtVal2.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>

</body>
</html>